@model App_Student.Models.Student_view_model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset_password</title>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    </head>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="padding:50px;">
            <div class="col-sm-4 offset-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center text-primary">reset password</h3>
                    </div>
                    <div class="card-body">


                        <form method="post" asp-action="Reset_password" asp-controller="Dashboard">

                            <div class="form-group">
                                <label asp-for="tbl_Student.Email_Address"></label>
                                <input type="text" class="form-control" asp-for="tbl_Student.Email_Address" />
                            </div>

                            <div class="form-group">
                                <label asp-for="tbl_Student.Contact_Number"></label>
                                <input type="password" asp-for="tbl_Student.Contact_Number" class="form-control" />
                            </div>

                            <div class="form-group">

                                <input type="submit" class="form-control btn btn-primary btn-sm m-1 float-end" value="Reset_Password" />
                            </div>
                            
                        </form>

                    </div>
                    
                </div>
                @Html.Raw(TempData["data"])
              
            </div>
            

        </div>
    </div>
</body>
</html>
